{% extends "layout.html" %}
{% block content%}
	<div class="content-section">
		<fieldset>
			<legend>Request Password</legend>
			<form action="" method="POST">
				{{form_content.hidden_tag()}}
				<div class="form-group">
					{{form_content.txtPassword.label(class="form-control-label")}}
					
					{% if form_content.txtPassword.errors %}
						{{form_content.txtPassword(class="form-control is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form_content.txtPassword.errors %}
								<span>{{error}}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form_content.txtPassword(class="form-control")}}
					{% endif %}
				</div>
				<div class="form-group">
					{{form_content.txtConfirm_Pass.label(class="form-control-label")}}
					
					{% if form_content.txtConfirm_Pass.errors %}
						{{form_content.txtConfirm_Pass(class="form-control is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form_content.txtConfirm_Pass.errors %}
								<span>{{error}}</span>
							{% endfor %}
						</div>
					{% else %}
						{{form_content.txtConfirm_Pass(class="form-control")}}
					{% endif %}
				</div>
				
				<div class="form-group">
					{{form_content.btnApply(class="btn btn-outline-info")}}
				</div>
			</form>
		</fieldset>
	</div>
{% endblock content%}
